# 忽略日志文件
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# 忽略打包以及外部文件夹
node_modules
dist
dist-ssr
*.local

# dot文件
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
pnpm-lock.yaml
.turbo

# d.ts 文件
app/**/types/auto-imports.d.ts
app/**/types/components.d.ts

# 压缩包
dist.zip

# docs 文件夹
docs/.vitepress/cache
docs/.vitepress/dist
