:root {
    /* 标题 */
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: linear-gradient(135deg, #9b80ff 10%, #D939CD 100%);

    /* 图标背景 */
    --vp-home-hero-image-background-image: linear-gradient(135deg, #8050ff 10%, #D939CD 100%);
    --vp-home-hero-image-filter: blur(150px);

    /* brand按钮 */
    --vp-button-brand-border: #F6CEEC;
    --vp-button-brand-text: #F6CEEC;
    --vp-button-brand-bg: #8d39d9;

    --vp-button-brand-hover-border: #F6CEEC;
    --vp-button-brand-hover-text: #fff;
    --vp-button-brand-hover-bg: #D939CD;

    --vp-button-brand-active-border: #F6CEEC;

    /* 主题基色 */
    --vp-c-brand: #D939CD;
    --vp-c-brand-light: #D939CD;
    --vp-c-brand-dark: #D939CD;

    /* 代码块背景色 */
    --vp-code-block-bg: rgba(125,125,125,.04);
}
