:root {
  --el-menu-item-height: 50px;
  --el-menu-base-level-padding: 14px;

  // 基础边框颜色
  --al-basic-border-color: hsl(0deg 0% 99% / 12%);

  // 基础背景色
  --al-basic-background-color: #fff;

  // 菜单背景色
  --al-menu-bg-color: #fff;
  --al-active-bg-color: rgb(37 99 235);
  --al-hover-bg-color: hsl(0deg 0% 99% / 12%);
  --el-dialog-bg-color: #fff;

  // 菜单激活背景色
  --al-menu-active-bg-color: rgb(37 99 235);

  // 基础标题颜色
  --al-black-title-color: #000;

  // 文字基础颜色
  --al-text-color: #303133;

  // 文字 active 颜色
  --al-text-active-color: rgb(37 99 235);
  --al-border-active-color: rgb(37 99 235);

  // 基础标题字体 weight
  --al-bold-title-weight: 700;
  --el-dialog-padding-primary: 15px;
}

.html-weakness {
  filter: invert(80%);
}

.html-grey {
  filter: grayscale(100%);
}

.el-form-item__label {
  font-weight: var(--al-basic-title-weight);
}

.el-breadcrumb__inner,
.el-breadcrumb__inner a {
  font-weight: 400 !important;
}

.el-dropdown-menu {
  padding: 0 !important;
}

.is-dark {
  z-index: 9999 !important;
}

/* 重置 el-button 中 icon 的 margin */
.reset-margin [class*="el-icon"] + span {
  margin-left: 2px !important;
}

/* nprogress 适配 element-plus 的主题色 */
#nprogress {
  & .bar {
    background-color: var(--el-color-primary) !important;
  }

  & .peg {
    box-shadow:
      0 0 10px var(--el-color-primary),
      0 0 5px var(--el-color-primary) !important;
  }

  & .spinner-icon {
    border-top-color: var(--el-color-primary);
    border-left-color: var(--el-color-primary);
  }
}

.el-drawer {
  --el-drawer-bg-color: var(--el-dialog-bg-color)
}

.el-drawer__header {
  padding-bottom: var(--el-drawer-padding-primary);
  margin-bottom: 0;
  font-weight: var(--al-bold-title-weight);
  color: var(--al-black-color);
  border-bottom: 1px solid var(--al-basic-border-color);
}

.el-drawer__footer {
  border-top: 1px solid var(--al-basic-border-color);
}

// 左侧菜单样式
.layout-left {
  &.hideSidebar {
    .sidebar-container {
      width: 210px !important;
    }

    .main-container {
      margin-left: 210px
    }
  }

  .sidebar-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    width: 50px;
    overflow: hidden;
    background-color: var(--al-menu-bg-color);
    border-right: 1px solid var(--al-basic-border-color);
    transition: width 0.28s;

    .el-menu {
      border: none;

      .el-menu-item.is-active {
        background-color: var(--al-menu-active-bg-color);
      }
    }
  }

  .main-container {
    position: relative;
    height: 100%;
    margin-left: 50px;
    overflow-y: auto;
    transition: margin-left 0.28s;

    .fixed-header {
      position: sticky;
      top: 0;
      z-index: 9;
      transition: width 0.28s;
    }
  }
}
